html, body {
    height: 100%; /* Asegúrate de que el HTML y el body ocupen toda la altura */
    margin: 0; /* Elimina márgenes por defecto */
}


.app-container {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    min-height: 100vh; /* Asegura que ocupe al menos la altura de la ventana */
}

router-outlet {
    flex: 1; /* Esto permitirá que el contenido ocupe el espacio restante */
}

app-footer {
    background: linear-gradient(#EEEEEE 20%, #508C9B); /* Estilo de fondo */
    color: white; /* Color de texto */
    padding: 20px 50px; /* Espaciado interno */
}
