<div *ngIf="mascota">
  <h2>Asignar tratamiento a {{ mascota.nombre }}</h2>

  <div class="form-group">
    <label for="veterinario">Seleccionar Veterinario:</label>
    <select id="veterinario" [(ngModel)]="veterinarioSeleccionado" class="form-control">
      <option *ngFor="let veterinario of veterinariosDisponibles" [ngValue]="veterinario">
        {{ veterinario.nombre }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="medicamentos">Seleccionar Medicamentos:</label>
    <select id="medicamentos" multiple [(ngModel)]="medicamentosSeleccionados" class="form-control">
      <option *ngFor="let medicamento of medicamentosDisponibles" [ngValue]="medicamento">
        {{ medicamento.nombre }}
      </option>
    </select>
  </div>

  <div>
    <h4>Medicamentos Seleccionados:</h4>
    <ul>
      <li *ngFor="let medicamento of medicamentosSeleccionados">
        {{ medicamento.nombre }}
        <button (click)="eliminarMedicamento(medicamentosSeleccionados.indexOf(medicamento))">Eliminar</button>
      </li>
    </ul>
  </div>

  <div class="form-group">
    <label for="fecha">Fecha del Tratamiento:</label>
    <input type="date" id="fecha" [(ngModel)]="tratamiento.fecha" name="fecha" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="precio">Precio del Tratamiento:</label>
    <input type="number" id="precio" [(ngModel)]="tratamiento.precio" name="precio" class="form-control" required>
  </div>

  <button (click)="agregarTratamiento()" class="btn btn-primary">Asignar Tratamiento</button>
</div>
