<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instalaciones - Petdiatria</title>
    <link rel="stylesheet" href="instalaciones.component.css">
</head>
<body>
    <!-- Sección de Instalaciones -->
    <section id="instalaciones" class="contenido-instalaciones">
        <!-- Título y Descripción -->
        <div class="titulos-instalaciones">
            <h1>Nuestras Instalaciones</h1>
            <p>En Petdiatria, contamos con instalaciones de primer nivel para garantizar la mejor atención y comodidad tanto para tu mascota como para ti.</p>
        </div>

        <!-- Galería de Imágenes -->
            <div class="galeria-instalaciones">
                <div class="imagen-instalacion">
                    <img src="assets/images/sala_espera.jpg" alt="Sala de Espera">
                    <p>Sala de Espera</p>
                    <p class="descripcion">Amplia y cómoda, con un ambiente agradable para que las mascotas y sus dueños se sientan relajados.</p>
                </div>
                <div class="imagen-instalacion">
                    <img src="assets/images/consultorio.jpg" alt="Consultorio">
                    <p>Consultorios Equipados</p>
                    <p class="descripcion">Equipados con lo último en tecnología veterinaria para ofrecer diagnósticos rápidos y precisos.</p>
                </div>
                <div class="imagen-instalacion">
                    <img src="assets/images/quirofano.jpg" alt="Quirófano">
                    <p>Quirófano de Alta Tecnología</p>
                    <p class="descripcion">Un espacio estéril y equipado con instrumentos modernos para realizar cirugías con la mayor seguridad.</p>
                </div>
                <div class="imagen-instalacion">
                    <img src="assets/images/zona_recuperacion.jpeg" alt="Zona de Recuperación">
                    <p>Zona de Recuperación</p>
                    <p class="descripcion">Espacio dedicado para la recuperación de las mascotas en un ambiente tranquilo y vigilado por nuestros profesionales.</p>
                </div>
                <div class="imagen-instalacion">
                    <img src="assets/images/laboratorios.jpg" alt="Laboratorio">
                    <p>Laboratorio Clínico</p>
                    <p class="descripcion">Contamos con un laboratorio clínico para realizar análisis de manera rápida y efectiva.</p>
                </div>

                <div class="imagen-instalacion">
                    <img src="assets/images/arearecreacion.jpg" alt="Área de Recreación">
                    <p>Área de Recreación</p>
                    <p class="descripcion">Un espacio al aire libre donde las mascotas pueden jugar y socializar en un ambiente seguro y divertido.</p>
                </div>
            </div>

    </section>

</body>
</html>
