<!--<nav *ngIf="router.url !== '/login-usuario' && router.url !== '/usuario-exitoso'">
  <ul>
    <li><a [routerLink]="['/admin-dashboard']">Admin Dashboard</a></li>
    <li><a [routerLink]="['/crear-mascota']">Crear Mascota</a></li>
    <li><a [routerLink]="['/modificar-mascota']">Modificar Mascota</a></li>
    <li><a [routerLink]="['/crear-usuario']">Crear Usuario</a></li>
    <li><a [routerLink]="['/modificar-usuario']">Modificar Usuario</a></li>
    <li><a [routerLink]="['/detalles-usuario']">Detalles Usuario</a></li>
    <li><a [routerLink]="['/mostrar-todos-usuarios']">Mostrar Todos Usuarios</a></li>
    <li><a [routerLink]="['/mostrar-todas-mascotas']">Mostrar Todas Mascotas</a></li>
    <li><a [routerLink]="['/login-usuario']">Login Usuario</a></li>
    <li><a [routerLink]="['/instalaciones']">Instalaciones</a></li>
    <li><a [routerLink]="['/promociones']">Promociones</a></li>
    <li><a [routerLink]="['/servicios']">Servicios</a></li>
    <li><a [routerLink]="['/usuario-exitoso']">Usuario Exitoso</a></li>
    <li><a [routerLink]="['/error']">Error</a></li>
    <li><a [routerLink]="['/']">Inicio</a></li>
  </ul>
</nav>*/-->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
