/* Estilos globales */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Header fijo con flexbox */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #134b70; /* Color del menú */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 10px 50px; /* Ajusta el espaciado horizontal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del menú */
}

/* Estilos del logo */
.logoHeader img {
    height: 80px; /* Ajusta el tamaño del logo según sea necesario */
}

/* Contenedor que alinea el menú y los botones */
.containerops {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-left: 50px; /* Espaciado desde el logo hasta los enlaces */
}

/* Estilos para los enlaces de navegación */
ul {
    display: flex;
    list-style: none;
    gap: 50px; /* Espaciado entre los elementos de la lista */
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: #EEEEEE;
    color: black;
    border-radius: 5px;
}

/* Botones de login y registro */
.button-login-reg {
    display: flex;
    gap: 10px;
}

.opcionesSignIn, .opcionesRegister {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.opcionesSignIn {
    background-color: #EEEEEE; 
    color: black;
}

.opcionesRegister {
    background-color: black;
    color: white;
}

.opcionesSignIn:hover, .opcionesRegister:hover {
    opacity: 0.9;
}
