body {
    background-color: #f4f7fa;
    font-family: Arial, sans-serif;
}

main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    width: 100%; /* Cambiado a 100% */
    max-width: 1200px; /* Añadido para un límite máximo */
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 30px;
}

.info:hover {
    transform: scale(1.02);
}

.info img {
    width: 50px; /* Aumentado el tamaño de la imagen */
    height: auto;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.info ul {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

.info ul li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
}

.info ul li strong {
    color: #508C9B;
}

.no-mascota {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #777;
}