/* Fondo y tipografía general */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
    font-family: Arial, sans-serif;
}

/* Contenedor principal centrado */
main {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

/* Contenedor del contenido */
.container {
    max-width: 800px;
    width: 100%; /* Asegura que ocupe todo el espacio disponible */
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1, h2, h3 {
    text-align: center;
    color: #134b70;
    margin-bottom: 20px;
}

/* Detalle del usuario */
.usuario-detalle, .mascota-detalle {
    margin-bottom: 15px;
}

/* Ajuste de los textos dentro de las secciones */
.usuario-detalle p, .mascota-detalle p {
    margin: 5px 0;
    font-size: 16px;
    color: #495057;
    font-weight: bold;
    text-align: left;
}

/* Línea separadora entre mascotas */
.mascota-detalle hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Mensaje de error */
div[ngIf="errorMessage"] p {
    color: red;
    text-align: center;
    font-size: 16px;
}

/* Responsividad */
@media (max-width: 768px) {
    .container {
        padding: 15px;
        max-width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}
