
/* Estilo general del footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background: linear-gradient(#EEEEEE 20%, #508C9B);
    padding: 20px 50px;
    color: white;
}

/* Sección de nosotros */
footer .nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 20px;
}

footer .nosotros img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

footer .nosotros p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

/* Estilo de la sección de copyright */
footer .copy {
    width: 30%;
    color: black;
    margin-left: 20px;
    text-align: left;
}

/* Redes sociales */
footer .redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .redes img {
    width: 50px;
    height: 50px;
    margin: 0 15px;
    border-radius: 30%;
    transition: transform 0.3s;
}

footer .redes img:hover {
    transform: scale(1.1);
}

/* Ajustes de estilo para los textos */
footer h3 {
    margin-bottom: 20px;
    color: black;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #f8f9fa;
}
