main {
    margin-top: 90px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.tblanco {
    color: white;
}

.tcenter {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

select, 
input[type="date"], 
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    height: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px auto; /* Centra el formulario en la página */
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

form button[type="button"], /* Cambiado de submit a button */
form button[type="submit"] {
    background-color: #508C9B;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="button"]:hover, /* Añade un efecto hover */
form button[type="submit"]:hover {
    background-color: #406F7A; /* Color más oscuro para el hover */
}

ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

li button {
    background-color: #ff4757; /* Color rojo para el botón de eliminar */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: #c0392b; /* Color más oscuro para el hover */
}

