main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); /* Ajuste para reducir espacio con el footer */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px; /* Más prominente */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    width: 100%; /* Ocupa el 100% del contenedor */
    max-width: 1200px; /* Aún más ancho */
    padding: 80px; /* Más espacio interno */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.form-group {
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    font-size: 24px; /* Tamaño consistente */
    margin-bottom: 10px;
    text-align: left; /* Alineación del texto */
}

input[type="text"], 
input[type="file"] {
    width: 100%;
    padding: 25px; /* Más espacio interno */
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    height: 80px; /* Campo más alto */
}

form button[type="submit"] {
    background-color: #508C9B;
    color: white;
    border: none;
    padding: 30px; /* Botón más grande */
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

form button[type="submit"]:hover {
    background-color: #3b6c78;
}

/* Ajuste del contenido para alineación perfecta */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa toda la pantalla */
    text-align: center;
}

.contenido {
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    max-width: 1200px; /* Tamaño máximo */
    padding: 20px;
}
